html,
body {
    font-family: Helvetica, Arial, sans-serif;
    height: 100%;
    margin: 0;
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: #161616;
    overflow: hidden;
    transform: scale(1.25);
}

h1 {
    margin-bottom: 10px;
}

h3 {
    color: #252525;
    margin-top: 15px;
    margin-bottom: 10px;
}

.btc-payme {
    text-decoration: none;
    font-size: 1em;
    font-weight: bold;
    margin: 10px;
    padding: 15px 15px;
    border: none;
    outline: none;
    color: white;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 12px;
    overflow: hidden;
    display: block;
    transition: font-size 0.25s
}

.btc-payme:hover {
    font-size: 1.25em;
}

.btc-payme::after {
    content: "";
    z-index: -1;
    position: absolute;
    width: 200%;
    height: 200%;
    background: linear-gradient(to right,
            #f2a900, #d38f00, #b47500, #965d00, #b47500, #d38f00, #f2a900);
    background-size: 350% 350%;
    animation: glowing 3s infinite ease-in-out;
    top: -50%;
    left: -50%;
    border-radius: 12px;
}

.eth-payme {
    text-decoration: none;
    font-size: 1em;
    font-weight: bold;
    margin: 10px;
    padding: 15px 15px;
    border: none;
    outline: none;
    color: white;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 12px;
    overflow: hidden;
    display: block;
    transition: font-size 0.25s
}

.eth-payme:hover {
    font-size: 1.25em;
}

.eth-payme::after {
    content: "";
    z-index: -1;
    position: absolute;
    width: 200%;
    height: 200%;
    background: linear-gradient(to right,
            #dbc9ff, #36325e, #3a1b5a, #36325e, #dbc9ff);
    background-size: 350% 350%;
    animation: glowing 3s infinite ease-in-out;
    top: -50%;
    left: -50%;
    border-radius: 12px;
}

.cashapp-payme {
    text-decoration: none;
    font-size: 1em;
    font-weight: bold;
    margin: 10px;
    padding: 15px 15px;
    border: none;
    outline: none;
    color: white;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 12px;
    overflow: hidden;
    display: block;
    transition: font-size 0.25s
}

.cashapp-payme:hover {
    font-size: 1.5em;
}

.cashapp-payme::after {
    content: "";
    z-index: -1;
    position: absolute;
    width: 200%;
    height: 200%;
    background: linear-gradient(to right,
            #00cf31, #00a727, #008b21, #00a727, #00cf31);
    background-size: 350% 350%;
    animation: glowing 3s infinite ease-in-out;
    top: -50%;
    left: -50%;
    border-radius: 12px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btc-payme {
    animation: slideInBottom 1s ease;
}

.eth-payme {
    animation: slideInBottom 1.25s ease;
}

.cashapp-payme {
    animation: slideInBottom 1.5s ease;
}

@keyframes glowing {
    0% {
        background-position: 0 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0 50%;
    }
}

@keyframes slideInBottom {
    from {
        transform: translateY(50px);
    }

    to {
        transform: translateY(0);
    }

}