html, body {
  font-family: Helvetica, Arial, sans-serif;
  height: 100%;
  margin: 0;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #161616;
  overflow: hidden;
  transform: scale(1.25);
}

container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 90%;
}

.square {
  position: relative;
  width: 250px;
  height: 250px;
  background: linear-gradient(
    to right,
    #ff7b00, #ff9900, #ff7b00);
  background-size: 400% 400%;
  animation: glowing 10s infinite ease-in-out;
  border-radius: 20px;
}

.overlay-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  max-height: 100%;
  border-radius: 12px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

@keyframes glowing {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}