html, body {
  font-family: Helvetica, Arial, sans-serif;
  height: 100%;
  margin: 0;
  color: white;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: #161616;
  overflow: hidden;
  transform: scale(1.25);
}

h1 {
  margin-bottom: 10px;
}

h3 {
  color: #252525;
  margin-top: 15px;
  margin-bottom: 10px;
}

.btc {
  text-decoration: none;
  font-size: large;
  font-weight: bolder;
  margin: 10px;
  padding: 15px 20px;
  border: none;
  outline: none;
  color: white;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 12px;
  overflow: hidden;
}

.btc::after {
  content: "";
  z-index: -1;
  position: absolute;
  width: 200%;
  height: 200%;
  background: linear-gradient(
    to right,
    #ff6600, #ff7b00, #ffa600);
  top: -50%;
  left: -50%;
  background-size: 400% 400%;
  animation: glowing 10s infinite ease-in-out;
  border-radius: 12px;
}

.eth {
  text-decoration: none;
  font-size: large;
  font-weight: bolder;
  margin: 10px;
  padding: 15px 20px;
  border: none;
  outline: none;
  color: white;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 12px;
  overflow: hidden;
}

.eth::after {
  content: "";
  z-index: -1;
  position: absolute;
  width: 200%;
  height: 200%;
  background: linear-gradient(
    to right,
    #38296d, #44347e, #634cb8);
  top: -50%;
  left: -50%;
  background-size: 400% 400%;
  animation: glowing 10s infinite ease-in-out;
  border-radius: 12px;
}

.cashapp {
  text-decoration: none;
  font-size: large;
  font-weight: bolder;
  margin: 10px;
  padding: 15px 20px;
  border: none;
  outline: none;
  color: white;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 12px;
  overflow: hidden;
}

.cashapp::after {
  content: "";
  z-index: -1;
  position: absolute;
  width: 200%;
  height: 200%;
  background: linear-gradient(
    to right,
    #0a7a00, #0fb300, #15ff00);
  top: -50%;
  left: -50%;
  background-size: 400% 400%;
  animation: glowing 10s infinite ease-in-out;
  border-radius: 12px;
}

@keyframes glowing {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
